@charset "UTF-8";
/* reset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 375px;
  width: 100%;
  margin: 0;
  background: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-family: "M PLUS 1p", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  transition: all 0.2s;
}

.l-footer {
  width: auto;
}

.l-header {
  width: auto;
  height: 215px;
}
@media (min-width: 1200.8px) {
  .l-header {
    height: 11.3vw;
  }
}

.l-main {
  width: auto;
}

.l-sidebar {
  display: block;
}
@media (min-width: 1200.8px) {
  .l-sidebar {
    width: 19.11%;
    padding: 4.375vw 0 4.375vw 2.395vw;
  }
}

.c-wrapper {
  display: block;
}
@media (min-width: 1200.8px) {
  .c-wrapper {
    display: flex;
  }
}

.c-container {
  width: 100%;
}
@media (min-width: 1200.8px) {
  .c-container {
    width: 80.88%;
  }
}

.c-title--logo {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  line-height: 1.172;
  padding: 43px 0 40px;
}
@media (min-width: 1200.8px) {
  .c-title--logo {
    font-size: 3.33vw;
    padding: 0;
  }
}

.c-button--primary {
  width: 100%;
  border: solid 1px rgb(112, 112, 112);
  background: linear-gradient(to right, #f2ede9 0%, #ded8d3 100%);
  text-align: center;
  height: 81px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}
@media (min-width: 833.8px) {
  .c-button--primary {
    width: 429px;
    height: 104px;
  }
}
@media (min-width: 1200.8px) {
  .c-button--primary {
    width: 22.34vw;
    height: 5.42vw;
  }
}

.c-bg-color--white {
  background-color: rgb(255, 255, 255);
}

.c-bg-color--black {
  background-color: rgb(0, 0, 0);
}

.c-bg-color--gray {
  background-color: rgb(242, 237, 233);
}

.c-bg-color--salmon-pink {
  background-color: rgb(255, 247, 239);
}

.c-bg-color--skyblue {
  background-color: rgb(245, 245, 245);
}

.c-bg-color--beige {
  background-color: rgb(249, 240, 226);
}

.c-flex {
  display: flex;
}

.c-text--white {
  color: rgb(255, 255, 255);
}

.c-text--brown {
  color: rgb(60, 42, 16);
}

.c-text--gray--primary {
  color: rgb(112, 112, 112);
}

.c-text--gray--secondary {
  color: rgb(234, 234, 234);
}

.c-text--bold {
  font-weight: 700;
}

.c-section--container--primary {
  padding: 0 20px;
}
@media (min-width: 833.8px) {
  .c-section--container--primary {
    padding: 0 40px;
  }
}
@media (min-width: 1200.8px) {
  .c-section--container--primary {
    padding: 0 5.2vw;
  }
}

.c-section--container--secondary {
  padding: 0 20px;
}
@media (min-width: 833.8px) {
  .c-section--container--secondary {
    padding: 0 60px;
  }
}
@media (min-width: 1200.8px) {
  .c-section--container--secondary {
    padding: 0 5.2vw;
  }
}

.c-section__heading2 {
  font-size: 2.8rem;
  line-height: 1.485;
  margin-bottom: 25px;
}
@media (min-width: 833.8px) {
  .c-section__heading2 {
    font-size: 3.6rem;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200.8px) {
  .c-section__heading2 {
    font-size: 1.875vw;
    line-height: 2.78vw;
    margin-bottom: 1.04vw;
  }
}

.c-section__heading3 {
  font-size: 2.4rem;
  line-height: 1.485;
  margin-bottom: 25px;
}
@media (min-width: 833.8px) {
  .c-section__heading3 {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200.8px) {
  .c-section__heading3 {
    font-size: 1.46vw;
    line-height: 2.17vw;
    margin-bottom: 1.04vw;
  }
}

.c-section__heading4 {
  font-size: 2rem;
  line-height: 1.485;
  margin-bottom: 34px;
}
@media (min-width: 833.8px) {
  .c-section__heading4 {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200.8px) {
  .c-section__heading4 {
    font-size: 1.04vw;
    line-height: 1.55vw;
    margin-bottom: 1.04vw;
  }
}

.c-section__heading5 {
  font-size: 2rem;
  line-height: 1.485;
  margin-bottom: 27px;
}
@media (min-width: 833.8px) {
  .c-section__heading5 {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200.8px) {
  .c-section__heading5 {
    font-size: 1.04vw;
    line-height: 1.55vw;
    margin-bottom: 1.04vw;
  }
}

.c-section__heading6 {
  font-size: 2rem;
  line-height: 1.485;
  margin-bottom: 26px;
}
@media (min-width: 833.8px) {
  .c-section__heading6 {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200.8px) {
  .c-section__heading6 {
    font-size: 1.04vw;
    line-height: 1.55vw;
    margin-bottom: 1.04vw;
  }
}

.c-section__text {
  margin-bottom: 20px;
}
@media (min-width: 833.8px) {
  .c-section__text {
    margin-bottom: 37px;
  }
}
@media (min-width: 1200.8px) {
  .c-section__text {
    margin-bottom: 3.64vw;
  }
}

.c-col--primary:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 833.8px) {
  .c-col--primary:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 1200.8px) {
  .c-col--primary:not(:last-child) {
    margin-right: 2.08vw;
  }
}

.c-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
}
@media (min-width: 833.8px) {
  .c-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media (min-width: 1200.8px) {
  .c-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.04vw;
  }
}

.c-font--primary {
  font-family: "M PLUS 1p", sans-serif;
}

.c-font--title {
  font-family: "Roboto", sans-serif;
}

.c-font-size--primary {
  font-size: 1.6rem;
  line-height: 1.485;
}
@media (min-width: 833.8px) {
  .c-font-size--primary {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200.8px) {
  .c-font-size--primary {
    font-size: 0.83vw;
    line-height: 1.24vw;
  }
}

.c-font-size--secondary {
  font-size: 1.4rem;
  line-height: 1.485;
}

.c-icon-star__primary::before {
  font-size: 2.2rem;
  line-height: 1.485;
  margin-right: 4px;
  display: inline-block;
  font: var(--fa-font-solid);
  content: "\f005";
  position: relative;
  bottom: 1px;
}
@media (min-width: 833.8px) {
  .c-icon-star__primary::before {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200.8px) {
  .c-icon-star__primary::before {
    font-size: 1.67vw;
    margin-bottom: 0.47vw;
    margin-right: 0.47vw;
  }
}

.p-footer {
  background: url(../images/footer-bg.webp) center center/auto 100%;
  height: 150px;
}
@media (min-width: 1200.8px) {
  .p-footer {
    background: url(../images/footer-bg.webp) center center/auto 100%;
    height: 7.812vw;
  }
}

.p-footer__listBox {
  display: flex;
  justify-content: center;
  padding: 16px 0 70px;
}
@media (min-width: 833.8px) {
  .p-footer__listBox {
    padding: 30px 0 44px;
  }
}
@media (min-width: 1200.8px) {
  .p-footer__listBox {
    padding: 2.135vw 0 1.614vw;
  }
}

.p-footer__list {
  font-size: 1.8rem;
  line-height: 1.485;
  margin-left: 5px;
}
@media (min-width: 1200.8px) {
  .p-footer__list {
    font-size: 1.041vw;
    line-height: 1.546vw;
    margin-left: 0.26vw;
  }
}
.p-footer__list::after {
  content: " | ";
}
.p-footer__list:last-child::after {
  content: "";
}

.p-footer__copyright {
  display: block;
  text-align: center;
  font-size: 1.4rem;
}
@media (min-width: 1200.8px) {
  .p-footer__copyright {
    font-size: 0.729vw;
  }
}

.p-header {
  text-align: center;
  position: relative;
}
@media (min-width: 1200.8px) {
  .p-header {
    display: flex;
    align-items: center;
    padding-left: 3.38vw;
    padding-right: 1.61vw;
    justify-content: space-between;
  }
}

.p-header__button--menu {
  display: block;
  font-size: 2rem;
  line-height: 1.172;
  position: absolute;
  top: 8px;
  right: 8px;
}
@media (min-width: 833.8px) {
  .p-header__button--menu {
    font-size: 3.4rem;
    line-height: 1.172;
    top: 20px;
    right: 25px;
  }
}
@media (min-width: 1200.8px) {
  .p-header__button--menu {
    display: none;
  }
}

.p-access {
  height: auto;
}
@media (min-width: 1200.8px) {
  .p-access {
    min-height: 33.802vw;
  }
}

.p-access__contents {
  width: auto;
  height: 100%;
  padding: 42px 40px;
  position: absolute;
  top: 0;
  z-index: 3;
}
.p-access__contents::before {
  content: "";
  height: 60%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2855);
  z-index: 10;
}
@media (min-width: 833.8px) {
  .p-access__contents::before {
    height: 100%;
  }
}
@media (min-width: 1200.8px) {
  .p-access__contents::before {
    display: none;
  }
}
@media (min-width: 1200.8px) {
  .p-access__contents {
    background-color: rgba(0, 0, 0, 0.2855);
    width: 61%;
    padding: 4.479vw 6.979vw 3.906vw 6.197vw;
    min-height: 33.802vw;
  }
}

.p-access__bg-black {
  background-color: rgba(0, 0, 0, 0.2855);
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
@media (min-width: 833.8px) {
  .p-access__bg-black {
    height: 100%;
  }
}
@media (min-width: 1200.8px) {
  .p-access__bg-black {
    min-height: 33.802vw;
  }
}

.p-access__map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}
@media (min-width: 1200.8px) {
  .p-access__map {
    min-height: 33.802vw;
  }
}

.p-access__wrapper {
  min-height: 691px;
  position: relative;
}
@media (min-width: 833.8px) {
  .p-access__wrapper {
    min-height: 415px;
  }
}
@media (min-width: 1200.8px) {
  .p-access__wrapper {
    min-height: auto;
  }
}

.p-access__title {
  font-size: 3rem;
  line-height: 1.485;
  margin-bottom: 29px;
  position: relative;
  z-index: 20;
}
@media (min-width: 1200.8px) {
  .p-access__title {
    font-size: 1.875vw;
    line-height: 1.71875vw;
    margin-bottom: 5.677vw;
  }
}
.p-access__title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 75px;
  position: absolute;
  top: 60px;
}
@media (min-width: 1200.8px) {
  .p-access__title::after {
    height: 0.104vw;
    width: 3.906vw;
    top: 4.6875vw;
  }
}

.p-access__text {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.357;
  position: relative;
  z-index: 20;
}
@media (min-width: 1200.8px) {
  .p-access__text {
    font-size: 0.833vw;
    line-height: 1.718vw;
  }
}

.p-contents {
  margin: 0 20px;
}
@media (min-width: 833.8px) {
  .p-contents {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1200.8px) {
  .p-contents {
    justify-content: space-between;
    margin: 0 6.197vw 6.77vw;
  }
}

.p-contents__list {
  width: auto;
  padding: 16px;
  margin-bottom: 20px;
}
@media (min-width: 833.8px) {
  .p-contents__list {
    width: 42.8vw;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1200.8px) {
  .p-contents__list {
    width: 32.135vw;
    padding: 1.25vw 1.041vw 0.625vw;
    margin-bottom: 0;
    min-height: 39.99vw;
  }
}

.p-contents__title {
  font-size: 4.1rem;
  margin-bottom: 237px;
  position: relative;
  line-height: 1.172;
}
@media (min-width: 833.8px) {
  .p-contents__title {
    font-size: 4.4rem;
    margin-bottom: 275px;
  }
}
@media (min-width: 1200.8px) {
  .p-contents__title {
    font-size: 4.166vw;
    margin-bottom: 36.77vw;
    line-height: 4.882vw;
  }
}
.p-contents__title::after {
  content: "";
  display: block;
  height: 4px;
  background-color: rgb(255, 255, 255);
  width: 34px;
  position: absolute;
  bottom: -20px;
}
@media (min-width: 833.8px) {
  .p-contents__title::after {
    width: 35.96px;
    bottom: -25px;
  }
}
@media (min-width: 1200.8px) {
  .p-contents__title::after {
    height: 0.208vw;
    width: 3.281vw;
    bottom: -2.239vw;
  }
}

.p-contents__text {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 16px;
}
@media (min-width: 1200.8px) {
  .p-contents__text {
    padding: 0.729vw 1.041vw;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1.041vw;
  }
}

.p-contents__subTitle {
  font-size: 2.2rem;
  margin-bottom: 8px;
  line-height: 1.091;
}
@media (min-width: 833.8px) {
  .p-contents__subTitle {
    font-size: 2.4rem;
    margin-bottom: 16px;
  }
}
@media (min-width: 1200.8px) {
  .p-contents__subTitle {
    font-size: 1.25vw;
    margin-bottom: 0.9375vw;
    line-height: 1.25vw;
  }
}

.p-contents__subText {
  font-size: 1.6rem;
  line-height: 1.485;
}
@media (min-width: 833.8px) {
  .p-contents__subText {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200.8px) {
  .p-contents__subText {
    font-size: 0.833vw;
    line-height: 1.2375vw;
  }
}

.p-contents__list__takeOut {
  background: url(../images/takeOut-sp.webp) no-repeat center center/cover;
}
@media (min-width: 833.8px) {
  .p-contents__list__takeOut {
    background: url(../images/takeOut-tablet.webp) no-repeat center center/cover;
  }
}
@media (min-width: 1200.8px) {
  .p-contents__list__takeOut {
    background: url(../images/takeOut.webp) no-repeat center center/cover;
  }
}

.p-contents__list__eatIn {
  background: url(../images/eatIn-sp.webp) no-repeat center center/cover;
}
@media (min-width: 833.8px) {
  .p-contents__list__eatIn {
    background: url(../images/eatIn-tablet.webp) no-repeat center center/cover;
  }
}
@media (min-width: 1200.8px) {
  .p-contents__list__eatIn {
    background: url(../images/eatIn.webp) no-repeat center center/cover;
  }
}

.p-menu {
  padding: 178px 0 178px 46px;
  display: block;
  position: fixed;
  width: 87.47vw;
  height: 100%;
  right: -100%;
  top: 0;
  z-index: 999;
  overflow-y: scroll;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 833.8px) {
  .p-menu {
    width: 44vw;
  }
}
@media (min-width: 1200.8px) {
  .p-menu {
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    right: 0;
    z-index: 0;
    transition: none;
    overflow-y: auto;
  }
}

.p-menu.is-open {
  right: 0;
}

.p-menu__title {
  display: none;
}
@media (min-width: 1200.8px) {
  .p-menu__title {
    display: block;
    font-size: 1.77vw;
    line-height: 2.022vw;
    margin-bottom: 4.687vw;
  }
}

.p-menu__list {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.485;
  margin-bottom: 40px;
}
@media (min-width: 1200.8px) {
  .p-menu__list {
    font-size: 1.25vw;
    margin-bottom: 1.666vw;
  }
}

.p-menu__subListBox {
  padding-left: 20px;
  margin-bottom: 20px;
}
@media (min-width: 1200.8px) {
  .p-menu__subListBox {
    margin-bottom: 2.5vw;
    padding-left: 1.041vw;
  }
}

.p-menu__subList {
  font-size: 2rem;
  line-height: 1.485;
  margin-bottom: 20px;
}
.p-menu__subList:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200.8px) {
  .p-menu__subList {
    font-size: 1.041vw;
    line-height: 1.546vw;
    margin-bottom: 1.041vw;
  }
}

.p-archive--Hero {
  width: 100%;
  height: 76vw;
  margin-bottom: 32px;
  position: relative;
}
@media (min-width: 833.8px) {
  .p-archive--Hero {
    margin-bottom: 40px;
    height: 34.17vw;
  }
}
@media (min-width: 1200.8px) {
  .p-archive--Hero {
    height: 12.44vw;
    margin-bottom: 3.28vw;
  }
}

.p-archive__image {
  height: 76vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30%;
     object-position: 30%;
}
@media (min-width: 833.8px) {
  .p-archive__image {
    height: 34.17vw;
  }
}
@media (min-width: 1200.8px) {
  .p-archive__image {
    height: 12.44vw;
  }
}

.p-archive__title {
  padding: 0 25px;
  font-size: 3.6rem;
  line-height: 1.172;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 833.8px) {
  .p-archive__title {
    flex-direction: row;
    font-size: 6rem;
    padding: 12px 0 0 86px;
  }
}
@media (min-width: 1200.8px) {
  .p-archive__title {
    padding: 0 0.989vw 0 4.479vw;
    font-size: 3.125vw;
  }
}

.p-archive__title--text {
  padding: 12px 0 0 12px;
}
@media (min-width: 833.8px) {
  .p-archive__title--text {
    padding: 8px 0 0 19px;
  }
}
@media (min-width: 1200.8px) {
  .p-archive__title--text {
    padding: 0.677vw 0.989vw 0;
  }
}

.p-single--Hero {
  width: 100%;
  margin-bottom: 32px;
  position: relative;
}
@media (min-width: 833.8px) {
  .p-single--Hero {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200.8px) {
  .p-single--Hero {
    margin-bottom: 3.28vw;
  }
}

.p-single__image {
  height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30%;
     object-position: 30%;
  width: 100%;
}
@media (min-width: 833.8px) {
  .p-single__image {
    height: 60.55vw;
  }
}
@media (min-width: 1200.8px) {
  .p-single__image {
    height: 26.04vw;
  }
}

.p-single__title {
  font-family: "Roboto", sans-serif;
  padding: 0 25px;
  font-size: 3.6rem;
  line-height: 1.172;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 833.8px) {
  .p-single__title {
    flex-direction: row;
    font-size: 6rem;
    padding: 12px 0 0 86px;
  }
}
@media (min-width: 1200.8px) {
  .p-single__title {
    padding: 0 0.989vw 0 4.479vw;
    font-size: 3.125vw;
  }
}

.p-single {
  padding: 0 20px;
  margin-bottom: 60px;
}
@media (min-width: 833.8px) {
  .p-single {
    padding: 0 60px;
    margin-bottom: 150px;
  }
}
@media (min-width: 1200.8px) {
  .p-single {
    padding: 0 5.21vw;
    margin-bottom: 14.06vw;
  }
}

.p-single__img--full {
  width: 100%;
}

.p-single__col__img {
  width: calc(50% - 5px);
}
@media (min-width: 833.8px) {
  .p-single__col__img {
    width: calc(50% - 10px);
  }
}
@media (min-width: 1200.8px) {
  .p-single__col__img {
    width: calc(50% - 1.04vw);
  }
}

.p-single__col__text {
  width: calc(50% - 5px);
}
@media (min-width: 833.8px) {
  .p-single__col__text {
    width: calc(50% - 10px);
  }
}
@media (min-width: 1200.8px) {
  .p-single__col__text {
    width: calc(50% - 1.04vw);
  }
}

.p-single__img--center {
  text-align: center;
}

.p-pagination__prev {
  position: relative;
}
.p-pagination__prev::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(-135deg);
  position: absolute;
  top: 5px;
  left: -14px;
}
.p-pagination__prev::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(-135deg);
  position: absolute;
  top: 5px;
  left: -23px;
}

.p-pagination__next {
  position: relative;
}
.p-pagination__next::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: -14px;
}
.p-pagination__next::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: -23px;
}

.p-pagination {
  padding: 0;
  margin: 61px 0 32px;
  color: rgb(112, 112, 112);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2.063;
}
@media (min-width: 833.8px) {
  .p-pagination {
    margin: 106px 0 32px;
  }
}
@media (min-width: 1200.8px) {
  .p-pagination {
    margin: 150px 0 64px;
    display: flex;
    justify-content: center;
  }
}

.p-pagination__link--current {
  color: rgb(255, 255, 255);
  background-color: rgb(60, 43, 28);
}

.p-pagination__list {
  display: flex;
  justify-content: space-between;
  margin: 0 54px;
  position: relative;
  min-height: 32px;
}
@media (min-width: 1200.8px) {
  .p-pagination__list {
    margin: 0 54px 0 0;
    min-height: auto;
  }
}

.p-pagination__list--secondary {
  display: flex;
  justify-content: space-between;
  margin: 100px 54px;
  position: relative;
  min-height: 32px;
}
@media (min-width: 1200.8px) {
  .p-pagination__list--secondary {
    min-height: auto;
  }
}

.p-pagination__list__link {
  display: none;
}
@media (min-width: 1200.8px) {
  .p-pagination__list__link {
    margin: 0 7.5px;
    width: 35px;
    height: 35px;
    border: solid 1px rgb(112, 112, 112);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.p-pagination__arrow-prev {
  position: relative;
  line-height: 2.1;
}
@media (min-width: 1200.8px) {
  .p-pagination__arrow-prev {
    font-size: 0;
    line-height: 1.7;
  }
}
.p-pagination__arrow-prev::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(-135deg);
  position: absolute;
  top: 10px;
  left: -24px;
}
.p-pagination__arrow-prev::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(-135deg);
  position: absolute;
  top: 10px;
  left: -33px;
}

.p-pagination__arrow-prev-secondary {
  position: relative;
  line-height: 2.1;
}
@media (min-width: 1200.8px) {
  .p-pagination__arrow-prev-secondary {
    line-height: 1.7;
  }
}
.p-pagination__arrow-prev-secondary::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(-135deg);
  position: absolute;
  top: 3px;
  left: -24px;
}
.p-pagination__arrow-prev-secondary::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(-135deg);
  position: absolute;
  top: 3px;
  left: -33px;
}

.p-pagination__arrow-next {
  right: 0;
  top: 0;
  position: absolute;
  line-height: 2.1;
}
@media (min-width: 1200.8px) {
  .p-pagination__arrow-next {
    position: relative;
    font-size: 0;
    line-height: 1.7;
  }
}
.p-pagination__arrow-next::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: -24px;
}
.p-pagination__arrow-next::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: -33px;
}

.p-pagination__arrow-next-secondary {
  right: 0;
  top: 0;
  position: absolute;
  line-height: 2.1;
}
@media (min-width: 1200.8px) {
  .p-pagination__arrow-next-secondary {
    position: relative;
    line-height: 1.7;
  }
}
.p-pagination__arrow-next-secondary::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: -24px;
}
@media (min-width: 1200.8px) {
  .p-pagination__arrow-next-secondary::before {
    top: 3px;
  }
}
.p-pagination__arrow-next-secondary::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 1px solid rgb(112, 112, 112);
  border-right: 1px solid rgb(112, 112, 112);
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: -33px;
}
@media (min-width: 1200.8px) {
  .p-pagination__arrow-next-secondary::after {
    top: 3px;
  }
}

.pagination__text {
  display: none;
}
@media (min-width: 1200.8px) {
  .pagination__text {
    display: block;
  }
}

.p-search__label {
  display: none;
}

.p-search--box {
  width: 216px;
  height: 46px;
  border: solid 1px rgb(112, 112, 112);
  border-radius: 10px;
  position: relative;
  text-align: left;
  margin-right: 16px;
}
@media (min-width: 833.8px) {
  .p-search--box {
    width: 396px;
    height: 46px;
    margin-right: 14px;
  }
}
@media (min-width: 1200.8px) {
  .p-search--box {
    width: 20.625vw;
    height: 2.4vw;
    margin-right: 0.72vw;
  }
}
.p-search--box::before {
  content: "";
  background: url(../images/search-icon.webp) no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 9px;
}
@media (min-width: 1200.8px) {
  .p-search--box::before {
    width: 1.25vw;
    height: 1.25vw;
    top: 0.572vw;
    left: 0.625vw;
  }
}
.p-search--box input {
  width: 216px;
  height: 46px;
  padding: 0 0 0 37px;
}
@media (min-width: 1200.8px) {
  .p-search--box input {
    padding: 0.52vw 0 0.52vw 2.34vw;
    width: 20.62vw;
    height: 2.39vw;
  }
}

.p-search--form {
  display: flex;
  justify-content: center;
}

.p-search--submit {
  width: 90px;
  height: 46px;
  background: linear-gradient(to bottom, #f2ede9 0%, #ded8d3 100%);
  border: 1px solid #707070;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
@media (min-width: 833.8px) {
  .p-search--submit {
    width: 136px;
  }
}
@media (min-width: 1200.8px) {
  .p-search--submit {
    width: 7.083vw;
    height: 2.395vw;
    font-size: 0.833vw;
  }
}

.p-blockquote {
  padding: 30px 20px;
}
@media (min-width: 833.8px) {
  .p-blockquote {
    padding: 50px 53px;
  }
}
@media (min-width: 1200.8px) {
  .p-blockquote {
    padding: 2.6vw 2.86vw;
  }
}

.p-blockquote__text {
  margin-bottom: 30px;
}
@media (min-width: 833.8px) {
  .p-blockquote__text {
    margin-bottom: 61px;
  }
}
@media (min-width: 1200.8px) {
  .p-blockquote__text {
    margin-bottom: 3.18vw;
  }
}

.p-blockquote__source {
  font-style: normal;
}

.p-blockquote__link {
  text-decoration: underline;
  color: rgb(74, 108, 155);
}

.p-ordered--primary {
  list-style: decimal;
  list-style-position: inside;
  color: rgb(60, 43, 28);
}
@media (min-width: 833.8px) {
  .p-ordered--primary {
    padding: 0 50px;
  }
}
@media (min-width: 1200.8px) {
  .p-ordered--primary {
    padding: 0 2.6vw;
  }
}

.p-ordered--secondary {
  list-style: decimal;
  list-style-position: inside;
  margin: 17px;
}
@media (min-width: 1200.8px) {
  .p-ordered--secondary {
    margin: 0.89vw;
  }
}

.p-unordered--primary {
  color: rgb(60, 43, 28);
}
@media (min-width: 833.8px) {
  .p-unordered--primary {
    padding: 0 50px;
  }
}
@media (min-width: 1200.8px) {
  .p-unordered--primary {
    padding: 0 2.6vw;
  }
}

.p-unordered--secondary {
  margin: 17px;
}
@media (min-width: 1200.8px) {
  .p-unordered--secondary {
    margin: 0.89vw;
  }
}

.p-nav__bg-color {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  cursor: pointer;
}
@media (min-width: 1200.8px) {
  .p-nav__bg-color {
    display: none;
  }
}

.p-nav__bg-color.is-open {
  opacity: 0.5;
  visibility: visible;
}

.p-nav__btn--close {
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  opacity: 0;
}
@media (min-width: 1200.8px) {
  .p-nav__btn--close {
    display: none;
  }
}

.p-nav__btn--close.is-open {
  display: block;
  position: fixed;
  top: 8px;
  right: 8px;
  width: 46px;
  height: 54px;
  opacity: 1;
  z-index: 1000;
}
.p-nav__btn--close.is-open ::before {
  position: absolute;
  top: 24px;
  left: 0;
  content: "";
  width: 48px;
  height: 6px;
  background-color: rgb(112, 112, 112);
  transition: 0.2s;
  transform: rotate(-45deg);
}
.p-nav__btn--close.is-open ::after {
  position: absolute;
  bottom: 24px;
  left: 0;
  content: "";
  width: 48px;
  height: 6px;
  background-color: rgb(112, 112, 112);
  transition: 0.2s;
  transform: rotate(-135deg);
}
@media (min-width: 1200.8px) {
  .p-nav__btn--close.is-open {
    display: none;
  }
}

.p-nav__btn--close__text {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
@media (min-width: 1200.8px) {
  .p-nav__btn--close__text {
    display: none;
  }
}

.p-pre {
  padding: 50px;
}
@media (min-width: 1200.8px) {
  .p-pre {
    padding: 2.6vw;
  }
}

.p-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.p-table__row {
  border: solid 1px rgb(112, 112, 112);
}

.p-table__cell--left {
  width: 42%;
  padding: 29px 23px 24px;
  border: solid 1px rgb(112, 112, 112);
}
@media (min-width: 833.8px) {
  .p-table__cell--left {
    width: 30%;
    padding: 29px 30px 24px;
  }
}
@media (min-width: 1200.8px) {
  .p-table__cell--left {
    width: 22.34vw;
    padding: 1.51v 1.56vw 1.25vw;
  }
}

.p-table__cell--right {
  width: 58%;
  padding: 29px 23px 24px;
}
@media (min-width: 833.8px) {
  .p-table__cell--right {
    width: 70%;
    padding: 29px 30px 24px;
  }
}
@media (min-width: 1200.8px) {
  .p-table__cell--right {
    width: 48.39vw;
    padding: 1.51v 1.56vw 1.25vw;
  }
}

.p-card {
  width: 100%;
  background-color: rgb(60, 43, 28);
  margin-bottom: 20px;
}
@media (min-width: 1200.8px) {
  .p-card {
    width: 100%;
  }
}

@media (min-width: 833.8px) {
  .p-card__body:has(.p-card__image--container) {
    display: flex;
    justify-content: center;
  }
}
.p-card__image--container {
  position: relative;
}

@media (min-width: 833.8px) {
  .p-card__body:has(.p-card__image--container) .p-card__image--container {
    width: 50%;
  }
}
.p-card__image {
  aspect-ratio: 677/471;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-card__text--body {
  padding: 32px 17px 44px;
}
@media (min-width: 833.8px) {
  .p-card__text--body {
    width: 100%;
    padding: 31px 35px 40px;
  }
}
@media (min-width: 1200.8px) {
  .p-card__text--body {
    padding: 2.91vw 3.28vw 3.125vw;
  }
}

@media (min-width: 833.8px) {
  .p-card__body:has(.p-card__image--container) .p-card__text--body {
    width: 50%;
  }
}
.p-card__title {
  font-size: 2rem;
  line-height: 1.485;
  margin-bottom: 20px;
}
@media (min-width: 1200.8px) {
  .p-card__title {
    font-size: 1.875vw;
    line-height: 2.78vw;
    margin-bottom: 2.34vw;
  }
}

.p-card__subtitle {
  font-size: 1.6rem;
  line-height: 1.485;
  margin-bottom: 7px;
}
@media (min-width: 1200.8px) {
  .p-card__subtitle {
    font-size: 1.25vw;
    line-height: 1.85vw;
    margin-bottom: 0.67vw;
  }
}

.p-card__text {
  margin-bottom: 40px;
}
@media (min-width: 833.8px) {
  .p-card__text {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200.8px) {
  .p-card__text {
    margin-bottom: 3.125vw;
  }
}

.p-card__link--container {
  display: flex;
  justify-content: center;
}

.p-card__link {
  width: 163px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.063;
  border-radius: 20px;
  padding-bottom: 1px;
}
@media (min-width: 1200.8px) {
  .p-card__link {
    width: 15.2vw;
    height: 3.95vw;
    font-size: 0.83vw;
    line-height: 1.71vw;
    border-radius: 2.08vw;
  }
}

.p-frontHero {
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 833.8px) {
  .p-frontHero {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200.8px) {
  .p-frontHero {
    margin-bottom: 6.25vw;
  }
}

.p-frontHero__image {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1200.8px) {
  .p-frontHero__image {
    height: 27.604vw;
  }
}

.p-frontHero__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25px;
  font-size: 3.6rem;
  line-height: 1.485;
  font-weight: 700;
}
@media (min-width: 833.8px) {
  .p-frontHero__title {
    padding: 0 0 0 86px;
  }
}
@media (min-width: 1200.8px) {
  .p-frontHero__title {
    padding: 0 4.479vw;
    font-size: 2.083vw;
  }
}

.p-recommend__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  padding: 0;
  margin-bottom: 150px;
}
@media (min-width: 833.8px) {
  .p-recommend__container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
  }
}
@media (min-width: 1200.8px) {
  .p-recommend__container {
    gap: 30px;
    margin-bottom: 6.25vw;
  }
}

.p-recommend__card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  gap: 0;
}

.p-recommend__title {
  font-size: 2.4rem;
  line-height: 1.485;
  margin-bottom: 25px;
}
@media (min-width: 833.8px) {
  .p-recommend__title {
    font-size: 3.6rem;
  }
}
@media (min-width: 1200.8px) {
  .p-recommend__title {
    font-size: 1.88vw;
    margin-bottom: 1.25vw;
  }
}

.p-recommend__item-title {
  font-size: 3.2rem;
  line-height: 1.485;
}
@media (min-width: 1200.8px) {
  .p-recommend__item-title {
    font-size: 1.88vw;
  }
}

.p-recommend__item-text {
  font-size: 1.6rem;
  line-height: 1.485;
}
@media (min-width: 1200.8px) {
  .p-recommend__item-text {
    font-size: 0.83vw;
  }
}

.p-recommend__text-body {
  padding: 24px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1200.8px) {
  .p-recommend__text-body {
    padding: 1.46vw 0.94vw;
  }
}

.p-recommend__link__container {
  text-align: right;
  text-decoration: underline;
}

.p-card-news {
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 1200.8px) {
  .p-card-news {
    width: 100%;
  }
}

@media (min-width: 833.8px) {
  .p-card-news__body:has(.p-card-news__image--container) {
    display: flex;
    justify-content: center;
  }
}
.p-card-news__image--container {
  position: relative;
}

@media (min-width: 833.8px) {
  .p-card-news__body:has(.p-card-news__image--container) .p-card-news__image--container {
    width: 50%;
  }
}
.p-card-news__image {
  aspect-ratio: 677/471;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-card-news__text--body {
  padding: 18px 2px 5px;
}
@media (min-width: 833.8px) {
  .p-card-news__text--body {
    width: 100%;
    padding: 5px 27px 5px;
  }
}
@media (min-width: 1200.8px) {
  .p-card-news__text--body {
    padding: 0.52vw 2.08vw;
  }
}

@media (min-width: 833.8px) {
  .p-card-news__body:has(.p-card__image--container) .p-card__text--body {
    width: 50%;
  }
}
.p-card-news__title {
  font-size: 2rem;
  line-height: 1.485;
  margin-bottom: 10px;
}
@media (min-width: 1200.8px) {
  .p-card-news__title {
    font-size: 1.875vw;
    line-height: 2.78vw;
    margin-bottom: 0.42vw;
  }
}

.p-card-news__cat {
  font-size: 1.2rem;
  line-height: 1.485;
  margin: 0 7px 7px;
  display: inline-block;
}
@media (min-width: 1200.8px) {
  .p-card-news__cat {
    font-size: 0.63vw;
    line-height: 1.85;
    margin: 0 0.42vw;
  }
}

.p-card-news__tag {
  font-size: 1.2rem;
  line-height: 1.485;
  margin: 0 7px 15px;
  padding: 3px 20px;
  border-radius: 17px;
  display: inline-block;
}
@media (min-width: 1200.8px) {
  .p-card-news__tag {
    font-size: 0.63vw;
    line-height: 1.85;
    margin: 0 0.42vw 0.78vw;
  }
}

.p-card-news__text {
  margin-bottom: 10px;
}
@media (min-width: 833.8px) {
  .p-card-news__text {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200.8px) {
  .p-card-news__text {
    margin-bottom: 0.52vw;
  }
}

.p-card-news__link--container {
  display: block;
  text-align: right;
}

.p-card-news__link {
  font-size: 1.6rem;
  line-height: 1.063;
  padding-bottom: 1px;
  text-decoration: underline;
}
@media (min-width: 1200.8px) {
  .p-card-news__link {
    font-size: 0.83vw;
    line-height: 1.71vw;
  }
}

.p-single-news--Hero {
  width: 100%;
  margin-bottom: 32px;
  position: relative;
}
@media (min-width: 833.8px) {
  .p-single-news--Hero {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200.8px) {
  .p-single-news--Hero {
    margin-bottom: 3.28vw;
  }
}

.p-single-news__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 45px;
  z-index: 3;
}
@media (min-width: 833.8px) {
  .p-single-news__container {
    margin: 12px 0 0 86px;
  }
}
@media (min-width: 1200.8px) {
  .p-single-news__container {
    margin: 0 0.989vw 0 4.479vw;
  }
}

.p-single-news__title {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  line-height: 1.172;
}
@media (min-width: 833.8px) {
  .p-single-news__title {
    flex-direction: row;
    font-size: 6rem;
  }
}
@media (min-width: 1200.8px) {
  .p-single-news__title {
    font-size: 3.125vw;
  }
}

.p-single-news__cat {
  font-size: 1.4rem;
  line-height: 1.485;
  margin: 0 7px 7px;
  display: inline-block;
}
@media (min-width: 1200.8px) {
  .p-single-news__cat {
    font-size: 0.73vw;
    line-height: 1.85;
    margin: 0 0.42vw;
  }
}

.p-single-news__tag {
  font-size: 1.2rem;
  line-height: 1.485;
  margin: 0 7px 15px;
  padding: 3px 20px;
  border-radius: 17px;
  display: inline-block;
  text-align: center;
}
@media (min-width: 1200.8px) {
  .p-single-news__tag {
    font-size: 0.63vw;
    line-height: 1.85;
    margin: 0 0.42vw 0.78vw;
  }
}

.p-single-news__bg-black {
  background-color: rgba(0, 0, 0, 0.2855);
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
@media (min-width: 833.8px) {
  .p-single-news__bg-black {
    height: 100%;
  }
}

.u-mg-left0 {
  margin-left: 0;
}

.u-mg-bottom--primary {
  margin-bottom: 30px;
}
@media (min-width: 833.8px) {
  .u-mg-bottom--primary {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200.8px) {
  .u-mg-bottom--primary {
    margin-bottom: 3.13vw;
  }
}
/*# sourceMappingURL=mystyle.css.map */