@use "../../foundation/global" as g;

.c-icon-star__primary{
        &::before{
        font-size: 2.2rem;
        line-height: 1.485;
        margin-right: 4px;
        display: inline-block;
        font: var(--fa-font-solid);
        content: "\f005";
        position: relative;
        bottom: 1px;
        @include g.breakpoint(tablet){
            font-size: 3.2rem;
        }
        @include g.breakpoint(pc){
            font-size: 1.67vw;
            margin-bottom: 0.47vw;
            margin-right: 0.47vw;
        }
    }
}
.c-icon-new{
        &::before{
        content: "NEW";
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2.4rem;
        line-height: 1.485;
        display: inline-block;
        background-color: g.$color--background-orange;
        height: 55px;
        width: 55px;
        padding-top: 10px;
        @include g.breakpoint(pc){
            font-size: 1.25vw;
            height: 2.86vw;
            width: 2.86vw;
            padding-top:0.52vw;
        }
    }
}