@use "../../foundation/global" as g;


.p-contents{
    margin: 0 20px;
    @include g.breakpoint(tablet){
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
    @include g.breakpoint(pc){
        justify-content: space-between;
        margin: 0 6.197vw 6.770vw;
    }
}
.p-contents__list{
    width: auto;
    padding: 16px;
    margin-bottom: 20px;
    @include g.breakpoint(tablet){
        width: 42.80vw;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include g.breakpoint(pc){
        width: 32.135vw;
        padding: 1.25vw 1.041vw 0.625vw;
        margin-bottom: 0;
        min-height: 39.99vw;
        }
}
.p-contents__title{
    font-size: 4.1rem;
    margin-bottom: 237px;
    position: relative;
    line-height: 1.172;
    @include g.breakpoint(tablet){
        font-size: 4.4rem;
        margin-bottom: 275px;
    }
    @include g.breakpoint(pc){
        font-size: 4.166vw;
        margin-bottom: 36.77vw;
        line-height: 4.882vw;
    }
    &::after{
        content: "";
        display: block;
        height: 4px;
        background-color: g.$color--white;
        width: 34px;
        position: absolute;
        bottom: -20px;
        @include g.breakpoint(tablet){
            width: 35.96px;
            bottom: -25px;
        }
        @include g.breakpoint(pc){
            height: 0.208vw;
            width: 3.281vw;
            bottom: -2.239vw;
        }
    }
}
.p-contents__text{
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 16px;
    @include g.breakpoint(pc){
        padding: 0.729vw 1.041vw;
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 1.041vw;
        }
}
.p-contents__subTitle{
    font-size: 2.2rem;
    margin-bottom: 8px;
    line-height: 1.091;
    @include g.breakpoint(tablet){
        font-size: 2.4rem;
        margin-bottom: 16px;
    }
    @include g.breakpoint(pc){
        font-size: 1.25vw;
        margin-bottom: 0.9375vw;
        line-height: 1.25vw;
    }
}
.p-contents__subText{
    font-size: 1.6rem;
    line-height: 1.485;
    @include g.breakpoint(tablet){
        font-size: 1.4rem;
    }
    @include g.breakpoint(pc){
        font-size: 0.833vw;
        line-height: 1.2375vw;
    }
}
.p-contents__list__takeOut{
    background: url(../images/takeOut-sp.webp) no-repeat center center / cover;
    @include g.breakpoint(tablet){
        background: url(../images/takeOut-tablet.webp) no-repeat center center / cover;
    }
    @include g.breakpoint(pc){
        background: url(../images/takeOut.webp) no-repeat center center / cover;
    }
}
.p-contents__list__eatIn{
    background: url(../images/eatIn-sp.webp) no-repeat center center / cover;
    @include g.breakpoint(tablet){
        background: url(../images/eatIn-tablet.webp) no-repeat center center / cover;
    }
    @include g.breakpoint(pc){
        background: url(../images/eatIn.webp) no-repeat center center / cover;
    }
}