@use "../../foundation/global" as g;

.p-pagination__prev{
    position: relative;
    &::before{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(-135deg);
        position: absolute;
        top: 5px;
        left: -14px;
    }
    &::after{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(-135deg);
        position: absolute;
        top: 5px;
        left: -23px;
    }
}
.p-pagination__next{
    position: relative;
    &::before{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(45deg);
        position: absolute;
        top: 5px;
        right: -14px;
    }
    &::after{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(45deg);
        position: absolute;
        top: 5px;
        right: -23px;
    }
}
.p-pagination{
    padding: 0;
    margin: 61px 0 32px;
    color: g.$color--gray;
    font-family: g.$font-title;
    font-size: 1.6rem;
    line-height: 2.063;
    @include g.breakpoint(tablet){
        margin: 106px 0 32px;
    }
    @include g.breakpoint(pc){
        margin: 150px 0 64px;
        display: flex;
        justify-content: center;
    }
}
.p-pagination__link--current{
    color: g.$color--white;
    background-color: g.$color--card-brown;
}
.p-pagination__list{
    display: flex;
    justify-content: space-between;
    margin: 0 54px;
    position: relative;
    min-height: 32px;
    @include g.breakpoint(pc){
        margin: 0 54px 0 0;
        min-height: auto;
    }
}
.p-pagination__list--secondary{
    display: flex;
    justify-content: space-between;
    margin: 100px 54px;
    position: relative;
    min-height: 32px;
    @include g.breakpoint(pc){
        min-height: auto;
    }
}
.p-pagination__list__link{
    display: none;
    @include g.breakpoint(pc){
        margin: 0 7.5px;
        width: 35px;
        height: 35px;
        border: solid 1px g.$color--gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.p-pagination__arrow-prev{
    position: relative;
    line-height: 2.1;
    @include g.breakpoint(pc){
        font-size: 0;
        line-height: 1.7;
    }
    &::before{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(-135deg);
        position: absolute;
        top: 10px;
        left: -24px;
    }
    &::after{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(-135deg);
        position: absolute;
        top: 10px;
        left: -33px;
    }
}
.p-pagination__arrow-prev-secondary{
    position: relative;
    line-height: 2.1;
    @include g.breakpoint(pc){
        line-height: 1.7;
    }
    &::before{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(-135deg);
        position: absolute;
        top: 3px;
        left: -24px;
    }
    &::after{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(-135deg);
        position: absolute;
        top: 3px;
        left: -33px;
    }
}
.p-pagination__arrow-next{
    right: 0;
    top: 0;
    position: absolute;
    line-height: 2.1;
    @include g.breakpoint(pc){
        position: relative;
        font-size: 0;
        line-height: 1.7;
    };
    &::before{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        right: -24px;
    }
    &::after{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        right: -33px;
    }
}
.p-pagination__arrow-next-secondary{
    right: 0;
    top: 0;
    position: absolute;
    line-height: 2.1;
    @include g.breakpoint(pc){
        position: relative;
        line-height: 1.7;
    };
    &::before{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        right: -24px;
        @include g.breakpoint(pc){
            top: 3px;
        }
    }
    &::after{
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        border-top: 1px solid g.$color--gray;
        border-right: 1px solid g.$color--gray;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        right: -33px;
            @include g.breakpoint(pc){
            top: 3px;
        }
    }
}
.pagination__text{
    display: none;
    @include g.breakpoint(pc){
        display: block;
    }
}