@use "../../foundation/global" as g;
.p-unordered--primary{
    color: g.$color--card-brown;
    @include g.breakpoint(tablet){
        padding: 0 50px;
    }
    @include g.breakpoint(pc){
        padding: 0 2.6vw;
    }
}
.p-unordered--secondary{
    margin: 17px;
    @include g.breakpoint(pc){
        margin: 0.89vw;
    }
}